# C = C++ for clang-format
# http://llvm.org/releases/3.6.0/tools/clang/docs/ClangFormatStyleOptions.html

Language: Cpp

SortIncludes: true

BreakBeforeBraces: Allman
AlwaysBreakAfterDefinitionReturnType: true

DerivePointerAlignment: false
PointerAlignment: Left

AlignTrailingComments: true
AlignConsecutiveAssignments: true
ReflowComments: true

AlignOperands: true
BinPackArguments: false
BinPackParameters: false
SpaceAfterCStyleCast: true
AlignEscapedNewlinesLeft: true

ColumnLimit: 90

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
IndentCaseLabels: true
